# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
vendor/ceedling/bin/ceedling
vendor/ceedling/lib/ceedling.rb
vendor/ceedling/lib/ceedling/build_invoker_utils.rb
vendor/ceedling/lib/ceedling/cacheinator_helper.rb
vendor/ceedling/lib/ceedling/cacheinator.rb
vendor/ceedling/lib/ceedling/cmock_builder.rb
vendor/ceedling/lib/ceedling/configurator_builder.rb
vendor/ceedling/lib/ceedling/configurator_plugins.rb
vendor/ceedling/lib/ceedling/configurator_setup.rb
vendor/ceedling/lib/ceedling/configurator_validator.rb
vendor/ceedling/lib/ceedling/configurator.rb
vendor/ceedling/lib/ceedling/constants.rb
vendor/ceedling/lib/ceedling/defaults.rb
vendor/ceedling/lib/ceedling/dependinator.rb
vendor/ceedling/lib/ceedling/erb_wrapper.rb
vendor/ceedling/lib/ceedling/file_finder_helper.rb
vendor/ceedling/lib/ceedling/file_finder.rb
vendor/ceedling/lib/ceedling/file_path_utils.rb
vendor/ceedling/lib/ceedling/file_system_utils.rb
vendor/ceedling/lib/ceedling/file_system_wrapper.rb
vendor/ceedling/lib/ceedling/file_wrapper.rb
vendor/ceedling/lib/ceedling/flaginator.rb
vendor/ceedling/lib/ceedling/generator_helper.rb
vendor/ceedling/lib/ceedling/generator_test_results_sanity_checker.rb
vendor/ceedling/lib/ceedling/generator_test_results.rb
vendor/ceedling/lib/ceedling/generator_test_runner.rb
vendor/ceedling/lib/ceedling/generator.rb
vendor/ceedling/lib/ceedling/loginator.rb
vendor/ceedling/lib/ceedling/makefile.rb
vendor/ceedling/lib/ceedling/objects.yml
vendor/ceedling/lib/ceedling/par_map.rb
vendor/ceedling/lib/ceedling/plugin_builder.rb
vendor/ceedling/lib/ceedling/plugin_manager_helper.rb
vendor/ceedling/lib/ceedling/plugin_manager.rb
vendor/ceedling/lib/ceedling/plugin_reportinator_helper.rb
vendor/ceedling/lib/ceedling/plugin_reportinator.rb
vendor/ceedling/lib/ceedling/plugin.rb
vendor/ceedling/lib/ceedling/preprocessinator_extractor.rb
vendor/ceedling/lib/ceedling/preprocessinator_file_handler.rb
vendor/ceedling/lib/ceedling/preprocessinator_helper.rb
vendor/ceedling/lib/ceedling/preprocessinator_includes_handler.rb
vendor/ceedling/lib/ceedling/preprocessinator.rb
vendor/ceedling/lib/ceedling/project_config_manager.rb
vendor/ceedling/lib/ceedling/project_file_loader.rb
vendor/ceedling/lib/ceedling/rake_utils.rb
vendor/ceedling/lib/ceedling/rake_wrapper.rb
vendor/ceedling/lib/ceedling/rakefile.rb
vendor/ceedling/lib/ceedling/release_invoker_helper.rb
vendor/ceedling/lib/ceedling/release_invoker.rb
vendor/ceedling/lib/ceedling/reportinator.rb
vendor/ceedling/lib/ceedling/rules_cmock.rake
vendor/ceedling/lib/ceedling/rules_preprocess.rake
vendor/ceedling/lib/ceedling/rules_release_deep_dependencies.rake
vendor/ceedling/lib/ceedling/rules_release.rake
vendor/ceedling/lib/ceedling/rules_tests_deep_dependencies.rake
vendor/ceedling/lib/ceedling/rules_tests.rake
vendor/ceedling/lib/ceedling/setupinator.rb
vendor/ceedling/lib/ceedling/stream_wrapper.rb
vendor/ceedling/lib/ceedling/streaminator_helper.rb
vendor/ceedling/lib/ceedling/streaminator.rb
vendor/ceedling/lib/ceedling/system_utils.rb
vendor/ceedling/lib/ceedling/system_wrapper.rb
vendor/ceedling/lib/ceedling/target_loader.rb
vendor/ceedling/lib/ceedling/task_invoker.rb
vendor/ceedling/lib/ceedling/tasks_base.rake
vendor/ceedling/lib/ceedling/tasks_filesystem.rake
vendor/ceedling/lib/ceedling/tasks_release_deep_dependencies.rake
vendor/ceedling/lib/ceedling/tasks_release.rake
vendor/ceedling/lib/ceedling/tasks_tests_deep_dependencies.rake
vendor/ceedling/lib/ceedling/tasks_tests.rake
vendor/ceedling/lib/ceedling/tasks_vendor.rake
vendor/ceedling/lib/ceedling/test_includes_extractor.rb
vendor/ceedling/lib/ceedling/test_invoker_helper.rb
vendor/ceedling/lib/ceedling/test_invoker.rb
vendor/ceedling/lib/ceedling/tool_executor_helper.rb
vendor/ceedling/lib/ceedling/tool_executor.rb
vendor/ceedling/lib/ceedling/verbosinator.rb
vendor/ceedling/lib/ceedling/version.rb
vendor/ceedling/lib/ceedling/yaml_wrapper.rb
vendor/ceedling/plugins/beep/README.md
vendor/ceedling/plugins/beep/lib/beep.rb
vendor/ceedling/plugins/bullseye/bullseye.rake
vendor/ceedling/plugins/bullseye/README.md
vendor/ceedling/plugins/bullseye/assets/template.erb
vendor/ceedling/plugins/bullseye/config/defaults.yml
vendor/ceedling/plugins/bullseye/lib/bullseye.rb
vendor/ceedling/plugins/colour_report/README.md
vendor/ceedling/plugins/colour_report/lib/colour_report.rb
vendor/ceedling/plugins/command_hooks/README.md
vendor/ceedling/plugins/command_hooks/lib/command_hooks.rb
vendor/ceedling/plugins/compile_commands_json/README.md
vendor/ceedling/plugins/compile_commands_json/lib/compile_commands_json.rb
vendor/ceedling/plugins/dependencies/dependencies.rake
vendor/ceedling/plugins/dependencies/README.md
vendor/ceedling/plugins/dependencies/config/defaults.yml
vendor/ceedling/plugins/dependencies/lib/dependencies.rb
vendor/ceedling/plugins/fake_function_framework/Rakefile
vendor/ceedling/plugins/fake_function_framework/README.md
vendor/ceedling/plugins/fake_function_framework/examples/fff_example/project.yml
vendor/ceedling/plugins/fake_function_framework/examples/fff_example/rakefile.rb
vendor/ceedling/plugins/fake_function_framework/examples/fff_example/src/bar.c
vendor/ceedling/plugins/fake_function_framework/examples/fff_example/src/bar.h
vendor/ceedling/plugins/fake_function_framework/examples/fff_example/src/custom_types.h
vendor/ceedling/plugins/fake_function_framework/examples/fff_example/src/display.c
vendor/ceedling/plugins/fake_function_framework/examples/fff_example/src/display.h
vendor/ceedling/plugins/fake_function_framework/examples/fff_example/src/event_processor.c
vendor/ceedling/plugins/fake_function_framework/examples/fff_example/src/event_processor.h
vendor/ceedling/plugins/fake_function_framework/examples/fff_example/src/foo.c
vendor/ceedling/plugins/fake_function_framework/examples/fff_example/src/foo.h
vendor/ceedling/plugins/fake_function_framework/examples/fff_example/src/subfolder/zzz.c
vendor/ceedling/plugins/fake_function_framework/examples/fff_example/src/subfolder/zzz.h
vendor/ceedling/plugins/fake_function_framework/examples/fff_example/test/test_event_processor.c
vendor/ceedling/plugins/fake_function_framework/examples/fff_example/test/test_foo.c
vendor/ceedling/plugins/fake_function_framework/lib/fake_function_framework.rb
vendor/ceedling/plugins/fake_function_framework/lib/fff_mock_generator.rb
vendor/ceedling/plugins/fake_function_framework/spec/fff_mock_header_generator_spec.rb
vendor/ceedling/plugins/fake_function_framework/spec/fff_mock_source_generator_spec.rb
vendor/ceedling/plugins/fake_function_framework/spec/header_generator.rb
vendor/ceedling/plugins/fake_function_framework/spec/spec_helper.rb
vendor/ceedling/plugins/fake_function_framework/src/fff_unity_helper.h
vendor/ceedling/plugins/gcov/gcov.rake
vendor/ceedling/plugins/gcov/README.md
vendor/ceedling/plugins/gcov/assets/template.erb
vendor/ceedling/plugins/gcov/config/defaults_gcov.rb
vendor/ceedling/plugins/gcov/lib/gcov_constants.rb
vendor/ceedling/plugins/gcov/lib/gcov.rb
vendor/ceedling/plugins/gcov/lib/gcovr_reportinator.rb
vendor/ceedling/plugins/gcov/lib/reportgenerator_reportinator.rb
vendor/ceedling/plugins/gcov/lib/reportinator_helper.rb
vendor/ceedling/plugins/json_tests_report/README.md
vendor/ceedling/plugins/json_tests_report/lib/json_tests_report.rb
vendor/ceedling/plugins/junit_tests_report/README.md
vendor/ceedling/plugins/junit_tests_report/lib/junit_tests_report.rb
vendor/ceedling/plugins/module_generator/module_generator.rake
vendor/ceedling/plugins/module_generator/README.md
vendor/ceedling/plugins/module_generator/config/module_generator.yml
vendor/ceedling/plugins/module_generator/lib/module_generator.rb
vendor/ceedling/plugins/raw_output_report/README.md
vendor/ceedling/plugins/raw_output_report/lib/raw_output_report.rb
vendor/ceedling/plugins/stdout_gtestlike_tests_report/README.md
vendor/ceedling/plugins/stdout_gtestlike_tests_report/assets/template.erb
vendor/ceedling/plugins/stdout_gtestlike_tests_report/assets/template.erb copy
vendor/ceedling/plugins/stdout_gtestlike_tests_report/config/stdout_gtestlike_tests_report.yml
vendor/ceedling/plugins/stdout_gtestlike_tests_report/lib/stdout_gtestlike_tests_report.rb
vendor/ceedling/plugins/stdout_ide_tests_report/README.md
vendor/ceedling/plugins/stdout_ide_tests_report/config/stdout_ide_tests_report.yml
vendor/ceedling/plugins/stdout_ide_tests_report/lib/stdout_ide_tests_report.rb
vendor/ceedling/plugins/stdout_pretty_tests_report/README.md
vendor/ceedling/plugins/stdout_pretty_tests_report/assets/template.erb
vendor/ceedling/plugins/stdout_pretty_tests_report/config/stdout_pretty_tests_report.yml
vendor/ceedling/plugins/stdout_pretty_tests_report/lib/stdout_pretty_tests_report.rb
vendor/ceedling/plugins/subprojects/README.md
vendor/ceedling/plugins/subprojects/subprojects.rake
vendor/ceedling/plugins/subprojects/config/defaults.yml
vendor/ceedling/plugins/subprojects/lib/subprojects.rb
vendor/ceedling/plugins/teamcity_tests_report/README.md
vendor/ceedling/plugins/teamcity_tests_report/config/teamcity_tests_report.yml
vendor/ceedling/plugins/teamcity_tests_report/lib/teamcity_tests_report.rb
vendor/ceedling/plugins/warnings_report/README.md
vendor/ceedling/plugins/warnings_report/lib/warnings_report.rb
vendor/ceedling/plugins/xml_tests_report/README.md
vendor/ceedling/plugins/xml_tests_report/lib/xml_tests_report.rb
vendor/ceedling/vendor/c_exception/lib/CException.c
vendor/ceedling/vendor/c_exception/lib/CException.h
vendor/ceedling/vendor/c_exception/lib/meson.build
vendor/ceedling/vendor/cmock/config/production_environment.rb
vendor/ceedling/vendor/cmock/config/test_environment.rb
vendor/ceedling/vendor/cmock/lib/cmock_config.rb
vendor/ceedling/vendor/cmock/lib/cmock_file_writer.rb
vendor/ceedling/vendor/cmock/lib/cmock_generator_plugin_array.rb
vendor/ceedling/vendor/cmock/lib/cmock_generator_plugin_callback.rb
vendor/ceedling/vendor/cmock/lib/cmock_generator_plugin_cexception.rb
vendor/ceedling/vendor/cmock/lib/cmock_generator_plugin_expect_any_args.rb
vendor/ceedling/vendor/cmock/lib/cmock_generator_plugin_expect.rb
vendor/ceedling/vendor/cmock/lib/cmock_generator_plugin_ignore_arg.rb
vendor/ceedling/vendor/cmock/lib/cmock_generator_plugin_ignore_stateless.rb
vendor/ceedling/vendor/cmock/lib/cmock_generator_plugin_ignore.rb
vendor/ceedling/vendor/cmock/lib/cmock_generator_plugin_return_thru_ptr.rb
vendor/ceedling/vendor/cmock/lib/cmock_generator_utils.rb
vendor/ceedling/vendor/cmock/lib/cmock_generator.rb
vendor/ceedling/vendor/cmock/lib/cmock_header_parser.rb
vendor/ceedling/vendor/cmock/lib/cmock_plugin_manager.rb
vendor/ceedling/vendor/cmock/lib/cmock_unityhelper_parser.rb
vendor/ceedling/vendor/cmock/lib/cmock.rb
vendor/ceedling/vendor/cmock/src/cmock_internals.h
vendor/ceedling/vendor/cmock/src/cmock.c
vendor/ceedling/vendor/cmock/src/cmock.h
vendor/ceedling/vendor/cmock/src/meson.build
vendor/ceedling/vendor/diy/lib/diy.rb
vendor/ceedling/vendor/diy/lib/diy/factory.rb
vendor/ceedling/vendor/unity/auto/colour_prompt.rb
vendor/ceedling/vendor/unity/auto/colour_reporter.rb
vendor/ceedling/vendor/unity/auto/generate_config.yml
vendor/ceedling/vendor/unity/auto/generate_module.rb
vendor/ceedling/vendor/unity/auto/generate_test_runner.rb
vendor/ceedling/vendor/unity/auto/parse_output.rb
vendor/ceedling/vendor/unity/auto/run_test.erb
vendor/ceedling/vendor/unity/auto/stylize_as_junit.rb
vendor/ceedling/vendor/unity/auto/test_file_filter.rb
vendor/ceedling/vendor/unity/auto/type_sanitizer.rb
vendor/ceedling/vendor/unity/auto/unity_test_summary.py
vendor/ceedling/vendor/unity/auto/unity_test_summary.rb
vendor/ceedling/vendor/unity/auto/unity_to_junit.py
vendor/ceedling/vendor/unity/src/meson.build
vendor/ceedling/vendor/unity/src/unity_internals.h
vendor/ceedling/vendor/unity/src/unity.c
vendor/ceedling/vendor/unity/src/unity.h
